$width: 1440px;
$height: 512px;

$layers_img: (1: url(assets/back.png),
  2: url(assets/birds.png),
  3: url(assets/cloud_2.png),
  4: url(assets/wing-2.png),
  5: url(assets/wing-1.png),
  6: url(assets/bridge.png));

$layers_pos: (4: 50px,
  5: 50px,
  6: 50px);

body {
  margin: 0;
  padding: 0;
  width: $width;
  box-sizing: border-box;
}

.parallax {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: $height;
  min-width: 1440px;

  &-layer {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + 120px);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @each $layer,
    $img in $layers_img {
      &__#{$layer} {
        background-image: $img;
      }
    }

    &__6 {
      height: 110%
    }
  }
}