$width: 100vw;
$height: 90vh;

.parallax {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  overflow: hidden;
  width: $width;
  height: $height;

  &-layer {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + 20px);
    object-fit: cover;
    height: 100%;

    &__4 {
      height: 101%
    }
  }
}